[submodule "plugged/ctrlp.vim"]
	path = plugged/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "plugged/youcompleteme"]
	path = plugged/youcompleteme
	url = https://github.com/valloric/youcompleteme.git
[submodule "plugged/vim-snippets"]
	path = plugged/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "plugged/vim-airline-themes"]
	path = plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "plugged/vim-airline"]
	path = plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "plugged/ultisnips"]
	path = plugged/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "plugged/syntastic"]
	path = plugged/syntastic
	url = https://github.com/scrooloose/syntastic.git
